body, html {height:100%}

.bgImg{
    background-image: url('https://miro.medium.com/max/1600/0*cLUSgHqt5kXYCXFZ.gif');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}


.name{
    color: white; 
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.subtitle{
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
